<h1>
  Layouts Demo
</h1>

<div class="input-group mb-3" style="padding: 10px 10px 10px 10px">
  <input type="text" class="form-control" placeholder="name" aria-label="name" aria-describedby="name" #name>


  <select class="browser-default custom-select" #type>
    <option selected value="Global">Global</option>
    <option value="Activity">Activity</option>
  </select>
</div>

<div style="padding: 20px">
  <button type="button" class="btn btn-primary" (click)="this.saveLayout(name.value, type.value)">Save</button>
</div>

<div style="padding: 20px; font-size: 20px">List of Global Layouts</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 40px;">Save</th>
      <th scope="col" style="width: 40px;">Remove</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let layout of this.layouts; let i = index">
      <th><button type="button" class="btn btn-primary btn-sm" (click)="this.restoreLayout(layout.name, layout.type)">Restore</button></th>
      <th><button type="button" class="btn btn-primary btn-sm" (click)="this.removeLayout(layout.name, layout.type)">Remove</button></th>
      <td>{{layout.name}}</td>
      <td>{{layout.type}}</td>
    </tr>
  </tbody>
</table>
